.weather-app-forecast {
  display: grid;
  grid-template-areas: left right;
  grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  width: 100%;
  margin: 5px 0;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #818181;
  text-transform: uppercase;
  &__day {
    display: flex;
    align-items: center;
    & > p {
      margin: 10px 15px;
      font-size: 1.4rem;
    }
  }
  &__weather {
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & > p {
      font-size: 0.8rem;
    }
  }
}
